* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 18vh;
    background-color: black;
}

ul {
    height: 100%;
    list-style-type: none;
    text-align: center;
    padding-top: 5vh;
    position: relative;
}

li {
    display: inline-block;
    width: 100%;
}

li > a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 0 15px;
    background-color: grey;
    border-radius: 20px;
    padding: 10px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li > a:hover {
    background-color: white;
}

.img1 {
    position: absolute;
    left: 4vw;
    top: 4vh;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.username {
    position: absolute;
    right: 2vw;
    top: 5vh;
}

.username:hover {
    background-color: yellow;
}

.hero {
    height: 82vh;
    width: 100%;
    padding: 7vh 3vw;
    overflow: hidden;
}

.text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    white-space: normal;
}

.text h1 {
    font-size: 6vh;
    margin-bottom: 4vh;
}

.para {
    font-size: 3vh;
    color: blue;
    font-family: cursive;
    line-height: 1.5;
    margin-bottom: 4vh;
}

button {
    font-size: 2.5vh;
    padding: 1.5vh 2vw;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: grey;
    transform: scale(1.08);
}

.image {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    text-align: right;
    animation: orbit 5s ease-in-out infinite;
}

.image img {
    width: 90%;
    height: auto;
    animation: squeeze 5s ease-in-out infinite;
}
span {
    color: crimson;
}

@keyframes orbit {

    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(25px, -20px) rotate(5deg);
    }

    50% {
        transform: translate(0, -35px) rotate(0deg);
    }

    75% {
        transform: translate(-25px, -20px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes squeeze {

    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.05, 0.95);
    }

    50% {
        transform: scale(0.90, 1.08);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}
