*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

img{
    width: 45.5vw;
    height: 40vh;
}
button{
    padding: 5vh 20vw;
    background:linear-gradient(green,yellow,orange);
    font-size: large;
    color:indigo;
}
.btn:hover{
    background:crimson;
    color: white;
}